.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# 
db/scripts/.vs

src/front_end/.idea/

src/front_end/

db/.idea/

src/.idea/

src/views/frames/__pycache__/

src/views/nav/__pycache__/

src/controllers/__pycache__/
